NODE_ENV=development
PORT=3001
HOST=0.0.0.0
LOG_LEVEL=info

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cavaina_app

JWT_ACCESS_SECRET=asf
JWT_REFRESH_SECRET=asdf
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

CORS_ORIGIN=http://localhost:3000,http://localhost:8080
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=1 minute

APP_TIMEZONE=Europe/Rome
SUPERSAAS_TIMEZONE=Europe/Rome
SUPERSAAS_ACCOUNT=asdf
SUPERSAAS_API_KEY=asdf
SUPERSAAS_SCHEDULE_ID=582183
SUPERSAAS_BASE_URL=https://www.supersaas.com/api
SUPERSAAS_TIMEOUT_MS=10000
SUPERSAAS_RETRY_COUNT=2
SUPERSAAS_ENABLE_PASSWORD_SYNC=false

ADMIN_IMPERSONATION_HEADER=x-impersonate-user-id
